@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

/*TEST PREFERANCE*/

body{
	background: #252525;
}

/*BOOTSTRAP*/

.nav-link{
	transition: All .2s ease;
	font-size: 18px;
}

.nav-link:hover{
	color: #d65a5a;
}

.navbar-brand{
	margin: 0;
}

.navbar{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/*PREFERANCES*/

*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}

a{
	color: #fff;
}

.red_button{
	font-size: 18px;
	font-weight: 400;
	color: #d65a5a;
	line-height: 50px;
	padding: 10px 50px;
	border-radius: 25px;
	border: 2px solid #d65a5a;
}

.red_button:hover{
	color: #fff;
	background-color: #d65a5a;
	text-decoration: none;
}

/*HEADER*/

.menu{
	
}

.custtom-header{
	background-color: #333;
	color: #fff;
}

.LOGO{
	font-size: 24px;
}

.LOGO:hover{
	color: #fff;
}

.phone{
	
}

.phone:hover{
	color: #fff !important;
}

.icon-phone{
	width: 20px;
}

.burger{
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

/*CAROUSEL*/

.castom_carousel{
	min-height: 500px;
	border-bottom: 1px solid #d65a5a;
	padding: 50px 0px;
}

.carousel-item{
	width: 100%;
	min-height: 500px;
	background-image: url(../img/SLIDER_BG-Front.png);
}

.about_hero{
	/* background-color: green; */
}

.Hero_IMG{
 
}

.slider-h2{
	font-weight: 400;
}

.slider-p{
	font-weight: 300;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	line-height: 28px;
	letter-spacing: 1.3px;
	opacity: 0.8;
}

.slider-menu{
	margin-top: 50px;
	margin-bottom: 20px;
}

.slider-munu-a{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	line-height: 40px;
	padding: 7px 20px;
	border-radius: 20px;
	border: 1px solid rgba(111, 111, 111, 0);
}

.slider-munu-a:hover{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
}

.slider-munu-a:focus{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
}

/*ABOUT US*/

.AboutUs-row{
	padding-bottom: 60px;
	border-bottom: 1px solid #d65a5a;
}

.AboutUs_Video{
	max-width: 90% !important;
}

.AboutUS-tittle{
	font-weight: 400;
	font-size: 24px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.AboutUs-p{
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 1.3px;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
}

/* CLUBS INFO */

.ClubsInfo-row{
	overflow: hidden;
}

.ClubsInfo-h3{
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.3px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.white_button{
	color: #fff;
	border: 2px solid #fff;

}

.ClubsInfo-center{
/*	background-color: #252525;*/
	padding-bottom: 50px;
}

.ClubsInfo-side{
	background-color: #d65a5a;
	padding-bottom: 50px;
	transform:rotate(3deg);
}

.ClubsInfo-side > h3, 
.ClubsInfo-side > .white_button{
	transform:rotate(-3deg);
}

/*PORTFOLIO CARD*/

.portfolio{
	background-color: #ededed;
	padding-bottom: 50px;
}

.portfolio-h2{
	margin-top: 50px;
	margin-bottom: 10px;
	color: #252525;
}

.portfolioCard {
	height: 300px;
	min-width: 200px;
	max-width: 200px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.portfolioCard > img{
	width: 100%;
}

.portfolioCard-h4{
	color: #000;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin-top: 15px;
	margin-left: 15px;
}

.portfolioCard-name{
	color: #000;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-top: 25px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.portfolioCard-line{
	width: 15px;
	background-color: #000;
	height: 1px;
	margin-left: 15px;
	opacity: 0.3;
	margin-top: 10px;
}

.portfolioCard-category{
	color: #000;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-top: 10px;
	margin-left: 15px;
}

.card-bottom{
	width: 100%;
	height: 35px;
	color: #000;
	margin-left: 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin-top: 30px;
}

.card-like > span{
	color: #000;
	margin-top: 5px;
}

.card-like > img{
	width: 23px;
	margin-right: 10px;
	opacity: 0.6;
}

.card-like > img:hover{
	opacity: 1;
}

.card-view{
	margin-left: 40px;
}

.card-view > span{
	color: #000;
	margin-top: 5px;
}

.card-view > img{
	width: 23px;
	margin-right: 10px;
	opacity: 0.9;
}

/*EMAIL SUBSCRIBE*/

.emailSubscribe{
	padding: 5px 0px;
}

.emailSubscribe_input{
	padding: 0 30px;
	font-size: 14px;
	font-weight: 400;
	height: 50px;
	width: 230px;
	border-radius: 25px;
	border: none;
	color: #000;
	margin-top: 25px;
	margin-bottom: ;
}

.emailSubscribe_input::placeholder{
	font-size: 18px;
	font-weight: 400;
}

.emailSubscribe_input > text{
	line-height: 50px;
}


@media (min-width: 992px) { 

.emailSubscribe_input:first-child{
	margin-right: 50px;
}

.email_button{
	margin-left: 100px;
 }
}

.email_button{
	height: 50px;
	width: 230px;
	border-radius: 25px;
	border: none;
	background-color: #d65a5a;
	color: #fff;
	line-height: 30px !important;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*BOTTOM SLIDER*/

.bottom-slider{
	height: 540px;
}

.bottom-slide{
	background-image: url(../img/bottom-slider_1.png);
	background-size: cover;
	background-position: center bottom;
}

.bottom-slide-tittle{
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
}



/*FOOTER*/

.footer{

}