*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: #fff;
  height:4000px;
}

header{
  background-color: white;
  height:90px;
  width:100%;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


#header-global{
	width: 1155px;
	margin-left: auto;
	margin-right: auto;
}

.content-wrapper{
	width: 1155px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	line-height: 90px;
}

#logo > a > img{
	width:60px;
	margin-top:15px;
	float:left;
}

.logo-p{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
  color: #7298d7;
  text-decoration: none;
  float: left;
  width: 178px;
  line-height: 20px;
  margin-top:23px;
  margin-left:10px;
  text-transform:uppercase;
}

.button{
	padding:15px;
	padding-left:30px;
	padding-right:30px;
	color:#fff;
	width:200px;
	line-height: 25px;
	background-color: #7298d7;
	font-family: 'Ubuntu', sans-serif;
	float:left;
	text-align:center;
	opacity:0.9;
	transition: All 0.25s ease;
}

.button:hover{
	opacity:1;
}

.SingUpOnCampHeader{
	text-transform:uppercase;
	border-radius:10px;
  margin-left: 17%;
  margin-right: 28%;
	margin-top:18px;
}

.number{
	float: left;
	width:120px;
	margin-top: 23px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight:500;
  color: #7298d7;
}

.underheader-bg > img{
	width:100%;
}

.head-tittle{
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	color: #7298d7;
	text-align:center;
	margin-top:20px;
}

.WhyWe-p{
	width: 660px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "PT Sans";
	color: #474747;
	font-size:25px;
	margin-top:25px;
}

.Mriyniki-Red{
	font-size: 75px;
	font-family: "Pattaya";
	color: #ff7979;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 25px;
}

.line-UnderMriyniki{
	position: absolute;
	width: 100%;
	border-top: 2px solid #7298d7;
	border-bottom: 1px solid #7298d7;
	margin-top: -50px;
	z-index:-1;
}

.WeInNumbers{
	width:100%;
	height:165px;
	background-color: #7298d7;
	margin-top:50px;
	box-shadow: 0 0 20px rgba(114, 152, 215, 0.7)
}

.WeInNumbers-container{
	width: 945px;
	height:165px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	padding-top:45px;
}

.WeInNumbers-row{
	float: left;
}

.WeInNumbers-row-Two{
  margin-left: 85px;
  margin-right: 60px;
}

.mini-row-one{
	float: left;
}

.chislo{
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
	line-height: 45px;
}

.underChislo{
	font-family: 'Ubuntu', sans-serif;
	font-size:24px;
	font-weight:500;
	margin-left:55px;
}

.chisloText{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	float: left;
	width:125px;
	margin-left: 10px;
	margin-top: 3px;
}

.chislo-special-one{
	margin-left: 14px;
}

.chislo-special-two{
	margin-left: 4px;
}

.chislo-special-three{
	margin-left: 60px;
}

.WhatIsWating-container{
	width:945px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
}

.WhatIsWating{
	width:400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.WhatIsWating-nomer{
	font-size: 125px;
	font-family: "PT Sans";
	color: #7298d7;
	font-weight: 600;
	float:left;
	line-height: 95px;
	margin-right: 10px;
}

.WhatIsWating-container-mini{
	width:455px;
	float:left;
	margin-top:-25px;
}

.WhatIsWating-container-mini-special{
	padding-left: 35px;
}

.WhatIsWating-text{
	float: left;
	width: 350px;
	font-size: 24px;
	font-family: "PT Sans";
	color: #474747;
}

.WhatIsWating-row{
	float:left;
	margin-top:25px;
}

.LineNotebook > img{
	width:100%;
	margin-top:15px;
}

.response-container{
	width:750px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.response-card{
	background-color: #fff;
	width: 225px;
	height: 340px;
	float: left;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	margin-left: 10px;
	margin-right: 10px;
}

.response-card-middle{

}

.response-card-circle{
	margin-left: 60px;
	margin-top: 20px;
}

.response-card-circle{
	height: 116px;
	width: 116px;
}

.insta-tag{
	text-align:center;
	margin-top: 10px;
}

.insta-tag > a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #454545;
}

.response-card-text{
	font-family: "PT Sans";
	font-size: 12px;
	padding:0 20px;
	text-align: center;
	margin-top:5px;
}

.response-card-button{
	width: 120px;
	height: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	padding:0;
	border-radius: 5px;
	line-height: 30px;
	margin-left: 55px;
	margin-top: 20px;
}


.slick-track{
	padding-top: 20px;
	padding-bottom: 20px;
	height: 350px;
}

.arrows{
	font-family: "FontAwesome";
	font-size: 48px;
	position: absolute;
	color: #7298d7;
}

.price{
	background-image: url(../content/img/BG_Price.png);
	background-repeat: no-repeat;
	background-size: 1920px 709px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 485px;
	padding-top: 225px;
}

.price-tittle{
	color: #fff;
}

.price-container{
	width: 750px;
	height:300px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.price-mini-conteiner{
	width: 180px;
	margin-top: 50px;
	float:left;
}

.price-mini-conteiner-middle{
	margin-left: 105px;
	margin-right: 105px;
}

.price-grn{
	font-family: 'Shrikhand', cursive;
	font-size: 60px;
	line-height: 48px;
}

.price-text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
}

.sale{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.dashed-line{
	border-bottom: 5px dotted silver;
	margin-top: 25px;
}

.sale-tittle{
	width: 500px;
	font-size: 48px;
}

.sale-to{
	font-family: 'Shrikhand', cursive;
	font-size: 60px;
	color: #ff7979;
}

.application{
	width: 860px;
	height: 360px;
	background-color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
	margin-top: 50px;
}

.application-container{
	width:100%;
	height: 230px;
}

.application-container-mini{
	float:left;
	width:40%;
	height: 210px;
	padding-left: 75px;
	padding-top: 25px;
}

.application-container-mini-left{
	width: 35%;
}

.application-container-mini-right{
	padding-top:50px;
}

.application-logo{
	float: left;
	width: 265px;
}

.application-date{
	color: #ff7979;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 600;
	float:left;
	line-height: 65px;
	margin-left: -35px;
}

.application-location{
	font-family: "PT Sans";
	color: #474747;
	font-size: 20px;
	float:left;
	margin-top: 60px;
	text-align: center;
}

.application-label{
	font-family: "PT Sans";
	color: #474747;
	font-size: 20px;
	font-weight: 600;
}

.lb-inp{
	float: left;
	margin-bottom: 10px;
	border: none;
}

input{
	font-family: "PT Sans";
	border: none;
	border-bottom: 2px solid silver;
	background-color: #f7f7f7;
	font-size:16px;
	padding-left:10px;
	width: 200px;
}

.application-button{
	border-radius: 10px;
	font-size:20px;
	margin-left:30px;
	width: 150px;
	line-height:20px;
	margin-top: 15px;
}

.button-download{
	margin-left: 43%;
	float: left;
	margin-top: 75px;
	border-radius: 10px;
	width: 130px;
	height: 30px;
	line-height: 10px;
	font-size: 16px;
	padding:5px;
	padding-left:20px;
	padding-right: 20px;
}

.button-download > img{
	margin-left: 10px;
}

.download-container{
	width: 100%;
}

.footer{
	width: 100%;
}

.top-footer-bg > img{
	width: 100%;
}

.footer-wrapper{
	width: 100%;
	height: 500px;
	background-color: #7298d7;
	margin-top: -5px;
	padding-top: 25px;
	height: 300px;
}

.some-question{
	text-transform: UpperCase;
	color: #fff;
	font-size: 24px;
	margin-top: 40px;
}

.tell_me{
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	margin-top: 15px;
}

.inpt-tel-me{
	border-radius: 15px;
	font-size: 24px;
	font-family: "PT Sans";
	width: 200px;
	height: 35px;
	margin-top: 5px;
}

.form-tel-me{
	margin-right: auto;
	margin-left: auto;
	width: 202px;
}

.social-networks{
	margin-left: 25%;
	margin-top: 25px;
}

.social-networks-middle> a > img{
	margin-left: 10px;
	margin-right: 10px;
}

.social-networks > a > img{
	width: 30px;
	float: left;
}